.page {
  background-color: #000000;
  color: #fff;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 950px) {
  .page {
    width: calc(100% - 30px*2);
  }  
}