.button__add-photo {
  width: 150px;
  height: 50px;
  background-image: url(../../images/button__add-photo.svg);
  border: 2px solid #fff;
  background-color: #000;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .button__add-photo {
    width: 282px;
  }
}