.profile__add-photo-button {
  width: 150px;
  height: 50px;
  background-image: url(../../images/profile__add-photo.svg);
  border: 2px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  .profile__add-photo-button {
    width: 282px;
    background-size: 16px;
  }
}