.element__like-button {
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: #fff;
  max-width: 22px;
  width: 100%;
  margin-right: 5px;
}

.element__like-button:hover {
  opacity: .5;
}