.profile__info {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  max-width: 336px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  row-gap: 16px;
  column-gap: 18px;
}

@media screen and (max-width:  768px) {
  .profile__info {
    max-width: 282px;
    padding: 0;
    row-gap: 10px;
    column-gap: 10px;
    padding-top: 26px;
    padding-bottom: 36px;
  }
}