.button {
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center center;  
  transition: opacity 0.1s linear;
  box-sizing: border-box;
}

.button:hover {
  opacity: .6;
  cursor: pointer;
}